@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
    --line-color: #d1d5db;
}

.button_primary {
    @apply flex w-44 cursor-pointer items-center justify-center gap-3 rounded-lg border border-zinc-400 bg-zinc-800 px-4 py-2 text-zinc-50 shadow-md shadow-gray-300 select-none hover:bg-zinc-900 disabled:cursor-default disabled:bg-zinc-800 disabled:opacity-70 sm:w-fit dark:border-gray-100 dark:bg-yellow-200 dark:text-gray-950 dark:shadow-none dark:hover:bg-yellow-300;
}

.button_secondary {
    @apply flex w-44 cursor-pointer items-center justify-center gap-3 rounded-lg border border-zinc-400 bg-amber-100 px-4 py-2 shadow-md shadow-gray-300 select-none hover:bg-amber-100/75 sm:w-fit dark:bg-gray-900/75 dark:text-gray-100 dark:shadow-none dark:hover:bg-gray-950;
}

.button_accent {
    @apply flex w-44 cursor-pointer items-center justify-center gap-3 rounded-lg border border-zinc-400 bg-amber-300 px-4 py-2 shadow-md shadow-gray-300 select-none hover:bg-amber-400 sm:w-fit dark:border-gray-100 dark:bg-gray-900 dark:shadow-none dark:hover:bg-gray-950;
}

.button_shape {
    @apply flex w-44 cursor-pointer items-center justify-center gap-3 rounded-lg border border-zinc-400 px-4 py-2 shadow-md shadow-gray-300 select-none sm:w-fit dark:border-gray-100 dark:bg-gray-900 dark:shadow-none dark:hover:bg-gray-950;
}

@media only screen and (min-width: 640px) {
    .bottom_unset {
        bottom: unset;
    }
}

input:valid {
    @apply bg-gray-50;
}

textarea:valid {
    @apply bg-gray-50;
}

html:not(.dark) .background {
    /* backdrop-filter: blur(6px); */
    background: linear-gradient(
        15deg,
        rgba(0, 0, 0, 0) 50%,
        rgb(245, 244, 230) 50%,
        rgb(245, 244, 230) 55%,
        rgba(0, 0, 0, 0) 30%
    );
    background-size: 1em 1em;
    background-color: rgb(253, 251, 232);
}

.subheading {
    @apply text-xl font-bold text-gray-700 dark:text-gray-300;
}

/* so navbar doesn't move on bold */
.my_navbar::before {
    font-weight: 600;
    content: attr(data-text);
    height: 0;
    visibility: hidden;
    display: flex;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

@layer utilities {
    @layer responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}
