
@import "../../global.scss";



.skills{
    background-color: $lightSecondaryColour;
    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin: 0 0 0 0 ;
    padding: 0 0 0 0;
    h1{
        font-size: $headingFontSize;
        border-bottom: 2px solid black; 
    }
    .skillType{
        width: 100%;
        .title{
            // background-color:green;
            display: flex;
            width: 100%;
            align-items: center;
            // align-content: center;
            flex-direction: column;
            justify-content: space-between;
            
            
            h2{
                font-size: $subHeadFontSize;
                // margin-bottom: 0;
                margin: 0;
                background-color: orange;
            }
            margin: 0;
            padding: 0;
            
            // .list{
                margin: 0 0 0 0;
                background-color: blue;
                padding: 0 0 0 0;
                // max-width: 800px;
                font-size: 24px;
                ul{
                    background-color:green;
                    display: flex;
                    flex-wrap: wrap;
                    // max-width: 1000px;
                    align-items: center;
                    list-style: none;
                    margin: 40px;
                    // justify-content: space-between;
                    align-items: center;

                    li{
                        display: flex;
                        // justify-content: space-around;
                        margin: 0;
                        background-color: $mainColor;
                        border-radius: 7px;
                        color: $lightSecondaryColour;

                        margin: 20px;
                        padding-right: 5px;
                        padding-left: 5px;
                        // justify-content: space-around;

                    }

                }
            // }
        }
    }
}