@import "../../global.scss";

.skills {
    background-color: $secondaryColour;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.skills h1 {
    font-size: $headingFontSize;
    border-bottom: 2px solid black;
}

.skills .skillType {
    width: 100%;
}




.skills .skillType .title1,
.title2,
.title3,
.title4,
h2 {
    font-size: $subHeadFontSize;
    margin: 0;
}

.skills .skillType .title1,
.title2,
.title3,
.title4 {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 24px;
}

.skills .skillType .title1,
.title2,
.title3,
.title4,
ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0;
    align-items: center;
}

.title2,
.title4 {
    background-color: $secondaryColour;
}

.title1,
.title3 {
    background-color: white;
}

.skills .skillType .title1,
.title2,
.title3,
.title4 {
    ul li {
        display: flex;
        color: $mainColor;
        border: 1px line;
        border-radius: 7px;
        margin: 12px;
    }
}