@import "../../global.scss";

.education{
    background-color: $mainColor;
    width: 100%;
    
    display: flex;
    padding-bottom: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $secondaryColour;
    h1{
        font-size: $headingFontSize;
    }
    p{
        margin: 5px;
        color:inherit;
        
    }
    .degree, .school{
        font-size: 28px;
    }
    .date{
        font-size: 20px;
    }
}