@import "../../global.scss";

.education {
  .school {
    .title {
      margin-bottom: 0;
      margin-top: -1rem;
      h1 {
        border-bottom: 2px solid $secondaryColour;
      }
    }
    background-color: $mainColor;
    width: 100%;

    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $secondaryColour;
    h1 {
      font-size: $headingFontSize;
    }
    p {
      margin: 5px;
      color: inherit;
    }
    .degree,
    .school {
      font-size: 28px;
      display: flex;
      justify-content: center;
    }

    .date {
      margin: 0;
      font-size: 20px;
      margin-bottom: 0;
    }
  }
  .courses {
    font-size: 24px;
    background-color: $mainColor;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: $secondaryColour;
    .courseWork {
      h1 {
        margin-bottom: 30px;
        font-size: 41px;
        border-bottom: 2px solid;
      }
    }
    .aList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: -1rem;
      // list-style-type: square;

      li {
        font-size: 25px;
      }
    }
  }
}

.workExperience {
  display: flex;
  align-items: start;
  margin-left: 2rem;
  justify-content: space-between;
  min-width: 57rem;
}

.positionTitle {
  font-size: 30px;
  font-weight: 600;
  // border-bottom: 1px solid $secondaryColour;
  margin-bottom: 0.25rem;
}

.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bgc-main {
  background-color: $mainColor !important;
}

.c-lightSecondary {
  color: $lightSecondaryColour !important;
}

.maxwidth-60rem {
  max-width: 60rem;
}

.listStyle-circle {
  list-style-type: circle;
}

.workDescription{
  font-size: 1.4rem;
}
