@import "../../global.scss";

.education .school .title {
  margin-bottom: 0;
  margin-top: -1rem;
}

.education .school .title h1 {
  border-bottom: 2px solid $secondaryColour;
}

.education .school {
  background-color: $mainColor;
  width: 100%;

  display: flex;
  padding-bottom: 10px;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  color: $secondaryColour;
}

.education .school h1 {
  font-size: $headingFontSize;
}

.education .school p {
  margin: 5px;
  color: inherit;
}

.education .school .degree,
.school {
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.education .school .date {
  margin: 0;
  font-size: 20px;
  margin-bottom: 0;
}

.education .courses {
  font-size: 24px;
  background-color: $mainColor;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondaryColour;
}

.education .courses .courseWork {
  padding-bottom: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.education .courses .courseWork h1 {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 2px solid;
}

.education .courses .aList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bright:hover {
  filter: brightness(120%);
}
.education .courses .aList li {
  font-size: 25px;
}
.myAccordian {
  background-color: $mainColor;
}

.workExperience {
  display: flex;
  align-items: flex-start;
  width: 60%;
  justify-content: space-between;
}

.positionTitle {
  display: flex;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  // border-bottom: 1px solid $secondaryColour;
  margin-bottom: 0.25rem;
}

.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  display: flex;
  align-items: flex-start;
}

.down {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bgc-main {
  background-color: $mainColor !important;
}

.c-lightSecondary {
  color: $lightSecondaryColour !important;
}

.maxwidth-60rem {
  max-width: 60rem;
}

.listStyle-circle {
  list-style-type: circle;
}

.workDescription {
  font-size: 1.4rem;
}

.expandIcon {
  padding: 0.1rem;
  padding-left: 0.2rem;
}

.bounce-base {
  display: flex;
  // height: 330px;
  // width: 100%;
}
.bounce-in {
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}
.bounce-1 {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1, 1) translateY(0);
  }
  30% {
    transform: scale(1, 1) translateY(-5px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-2px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
