@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    @apply select-none rounded-lg flex justify-center items-center gap-3;
}

@media only screen and (min-width: 640px) {
    .bottom_unset {
        bottom: unset;
    }
}

/* .background {
    background-image: linear-gradient(to right, #9796f0, #fbc7d4) !important;
} */

.background {
    backdrop-filter: blur(5px);
    background-color: #e5e5f7;
    background-color: #e5e5f7;
    background: radial-gradient(
            circle,
            transparent 20%,
            #e5e5f7 20%,
            #e5e5f7 80%,
            transparent 80%,
            transparent
        ),
        radial-gradient(
                circle,
                transparent 20%,
                #e5e5f7 20%,
                #e5e5f7 80%,
                transparent 80%,
                transparent
            )
            17.5px 17.5px,
        linear-gradient(#f7ca45 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px,
        linear-gradient(90deg, #f7ca45 1.4000000000000001px, #e5e5f7 1.4000000000000001px) -0.7000000000000001px
            0;
    background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}
