@import "../../global.scss";

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $lightSecondaryColour;
    padding-left: 5%;
    padding-right: 5%;
}


.about .title {
    font-size: 24px;
}

.about .title h1 {
    border-bottom: 2px solid black;
}

.about .content {
    color: $mainColor;
    font-weight: 600;
    font-size: 24px;
    max-width: 1000px;
}

.about .content a {
    color: $linkColour;
}

.about .content a:hover {
    color: $linkHoverColour;
}

.about .content a:focus {
    color: purple;
}