@import "../../global.scss";

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $lightSecondaryColour;
    padding-left: 5%;
    padding-right: 5%;
    .title{
        font-size: 24px;
        h1{
            border-bottom: 2px solid black;
        }
    }
    .content{
        color: $mainColor;
        font-weight: 600;
        font-size: 24px;
         max-width: 1000px;
    }
}