@import "../../global.scss";

.contact{
    
    background-color: $mainColor;
    width: 100%;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: $secondaryColour;
    .title{
        

        h1{
            border-bottom: 2px solid $secondaryColour;
        }

    }
    
    .links
    {

        width: 80px;
        div{
            a{
                color: $secondaryColour;
                text-decoration: none;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 32px;
                margin: 10px;
            }
            a:hover{
                
                font-weight: 500;
                border: 1px $secondaryColour fill;
                // background-color: $secondaryColour;
                // border-radius: 20%;
                // color: $mainColor;

            }
        }
        display: flex;
        width: 40%;
        
        justify-content: space-around;
        flex-wrap: wrap;
        div{
            a{
                display: flex;
                // background-color: orange;
                flex-wrap: nowrap;
            }
        }
    }
    // align-content: space-between;

    
}

.icon{
    width: 15px;
    height: 100px
}