@import "../../global.scss";

.navbar {
  background-color: $mainColor;
  color: $secondaryColour;
  width: 100%;
  height: 71px;
  position: fixed;
  top: 0;
  transition: all 1s ease;
  z-index: 3; //make topbar show on top of other components
  box-shadow: 3px 0px 3px $mainColor;

  .wrapper {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .name {
        font-size: 35px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        // margin-right: 40px;
      }
      .itemContainer {
        font-size: 20px;
        margin-left: 30px;
        span {
          font-weight: 400;
        }

        a {
          color: $secondaryColour;
        }

        // margin: 10px;
        .icon {
          align-items: center;
          font-size: 30px;
          margin-right: 17px;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;

      .link {
        // style the links on the right
        padding: 0px 10px;
        text-decoration: none;
        color: inherit;
        font-size: 21px;

        .contactLink {
          margin-right: 50px;
        }
        .allLinks {
          margin-right: 10px;
        }
      }

      .link:hover {
        //when you hover
        // color: $linkHover;
        text-decoration: underline;
        text-overflow: ellipsis;
        font-weight: 500;
      }

      @media only screen and (max-width: $hamburgerWidth) {
        .link {
          // right: -300px;
          display: none;
        }
      }
      .hamburger {
        display: none;
      }

      .hamburger {
        // padding-left: 40px;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        width: 32px;
        height: 26px;

        justify-content: space-between;
        cursor: pointer;

        span {
          transform-origin: right;
          transition: all 0.75s ease;
          width: 100%;
          height: 3px;
          background-color: $secondaryColour;
          // padding-right: 4px;
        }
      }
      @media only screen and (min-width: $hamburgerWidth) {
        .hamburger {
          display: none;
        }
      }
    }
  }

  &.active {
    // transition-duration: 200ms;

    background-color: $secondaryColour;
    color: $mainColor;
    .left {
      .itemContainer {
        a {
          color: $mainColor;
        }
      }
    }
    .hamburger {
      span {
        &:nth-child(2) {
          background-color: $secondaryColour;
        }
        background-color: $secondaryColour;
        &:first-child {
          background-color: $mainColor;
          transform: rotate(-43deg);
        }
        &:last-child {
          background-color: $mainColor;
          transform: rotate(43deg);
        }
      }
    }
  }
}
