@import "../../global.scss";


.intro {
    width: 100%;
    transition: all 0.75s ease;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}


.intro .left {
    margin: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.intro .left .picture {
    max-width: 80%;
}

.intro .left .picture img {
    max-width: 100%;
    border-radius: 40%;
}

.intro .right {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.intro .right .text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro .right .text div {
    font-size: 25px;
    width: 30px;
}

.intro .right .text .but1 {
    font-size: 30px;
    background-color: $mainColor;
    color: $lightSecondaryColour;

    margin-top: 30px;
    width: 210px;
}

.intro .right .text .but1:hover {
    background-color: black;
}

.intro .right .text .title {
    margin-left: -2rem;
    margin-bottom: 1rem;
    font-size: 45px;
}

.intro .right .text .name {
    margin: 0;
    font-weight: 600;
    font-size: 80px;
}

.intro .right .text .introduction {
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-shrink: 1;
    max-width: 620px;
    word-wrap: break-word;
    color: $mainColor;
}

.intro .right .text .downArrow {
    font-weight: 600;
    flex-direction: column;
}

.intro .right .text .downArrow a {
    position: absolute;
    bottom: 50px;
    left: 12.5%;
    font-size: 100px;
    display: flex;
    color: black;
    animation: arrowBlink 1.5s infinite;
}


.intro .right .text .downArrow {
    @media only screen and (max-width: $singleColumnWidth) {
        a {
            display: none;
        }
    }
    
}


.intro .right {
    @keyframes arrowBlink {
        50% {
            opacity: 10%;
        }
    }

}
