
// colours
$mainColor: rgb(30, 31, 31);
$secondaryColour: rgb(248, 234, 220);
$lightSecondaryColour: rgb(250, 241, 232);
$linkHover: rgb(0, 0, 0);
$iconHoverColour: rgb(177, 177, 177);
// widths
$hamburgerWidth: 800px;
$singleColumnWidth: 1288px;

// fontSizes
$headingFontSize: 45px;
$subHeadFontSize: 30px;
$linkHoverColour: rgb(38, 121, 255);
$linkColour: rgb(0, 72, 189);